.feed-content {
  width: 65%;
  margin: 0 auto;
}

.loadingWrapper {
  display: flex;
  height: 80px;
  margin: 1rem auto;

  p {
    text-align: center;
    margin: 1rem auto;
    color: #888;
  }
}
