.button-style {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: black;
  background-color: #ffbc11;
  transition: ease background-color 250ms;

  &:hover {
    cursor: pointer;
    background-color: #cf990e;
  }

  &:disabled {
    background-color: #cf990e;
  }
}

.loader-animation {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
