.subtitle-cadastro {
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 16px;
}

.subtitle-cadastro::after {
  content: "";
  display: block;
  background: #aaa8a8;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.perdeu-senha-container {
  margin-top: 24px;
}

.perdeu-senha-link {
  text-decoration: underline;
  font-size: 22px;
}

.cadastrar-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;

  p {
    font-size: 18px;
  }
}
