* {
  margin: 0 auto;
  padding: 0 auto;
  list-style: none;
  box-sizing: border-box;
}

.mainContainer {
  margin-top: 5rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}
