.comments {
  overflow-y: auto;
  word-break: break-word;
  padding: 0 2rem;
}

.single.comments {
  padding: 0px;
}

.container-comment {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.author-tag {
  font-size: 20px;
  font-weight: 900 !important;
  background-color: #fb1;
  border-radius: 5px;
  padding: 1px 3px;
  margin-right: 5px;
}
