.photo-content-container {
  display: flex;
  min-width: 900px;
  flex-direction: column;
}

.photo-border {
  img {
    border-radius: 12px;
  }
}

.first-row {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 24px;
}

.icon-visu::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.2rem;
  margin-bottom: 0.1rem;
  background: url("/assets/visualizacao-black.svg");
}

.last-row {
  display: flex;
  gap: 16px;
  font-weight: bold;
  font-size: 24px;

  span::before {
    content: "|";
    font-weight: bold;
  }
}
